section.announcements-wrapper {
  background: var(--secondary-color);
  padding: 10px 0;
  margin: 0;
  text-align: center;
  color: var(--white);
}

.announcements-wrapper a {
  color: var(--white);
}

.announcements-wrapper i {
  margin-right: 10px;
}

.announcements-wrapper i:last-child {
  float: right;
  font-size: 20px;
  margin: 2.5px 0 0;
  cursor: pointer;
}

@media screen and (max-width:480px) {
  .announcements-wrapper i:last-child {
    margin: -8px 0 0;
  }
}