@font-face {
  font-family: GothamHTF;
  src: url(../media/GothamHTF-Book.fae9356a.woff);
  font-style: normal
}

@font-face {
  font-family: SansBold;
  src: url(../media/PTSans-Bold.333ee0ee.ttf);
  font-style: normal
}

@font-face {
  font-family: SansRegular;
  src: url(../media/PTSans-Regular.4ea26cd5.ttf);
  font-style: normal
}

html {
  scroll-behavior: smooth
}

:root {
  --primary-color: #f58200;
  --secondary-color: #2086c6;
  --temp-color: #7510f7;
  --white: #fff;
  --half-white: #777;
  --custom-white: #fafafa;
  --custom-blue: #141e55;
  --black: #000;
  --sansBold: SansBold;
  --sansRegular: SansRegular;
  --gothamHTF: GothamHTF
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--gothamHTF);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

body {
  padding-top: 85px
}

li, ul {
  list-style: none;
  overflow: hidden
}

li {
  line-height: 18px;
  margin-bottom: 10px
}

h3 {
  font-size: 22px;
  font-weight: 700;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
  color: var(--primary-color);
  margin-bottom: 25px
}

h3 i {
  font-size: 30px;
  margin-right: 10px
}

p, p * {
  font-size: 17px;
  font-family: var(--sansRegular);
  letter-spacing: .2px
}

p i {
  font-style: italic
}

b, p i, strong {
  font-family: var(--sansBold)
}

section {
  margin: 30px 0
}

.container {
  max-width: 1280px;
  margin: auto;
  clear: both;
  overflow: hidden
}

section:nth-child(odd) {
  background-color: var(--white)
}

section:nth-child(2n) {
  background-color: var(--custom-white);
  padding: 40px 0
}

a {
  color: var(--black);
  text-decoration: none
}

.valign {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

@keyframes motion-blur-number {
  0% {
    opacity: 0;
    color: rgba(20, 30, 85, .2);
    text-shadow: 0 7.9px 0 rgba(20, 30, 85, .2), 0 15.8px 0 rgba(20, 30, 85, .2), 0 26.333333333333332px 0 rgba(20, 30, 85, .2), 0 31.6px 0 rgba(20, 30, 85, .2), 0 39.5px 0 rgba(20, 30, 85, .2), 0 -7.9px 0 rgba(20, 30, 85, .2), 0 -15.8px 0 rgba(20, 30, 85, .2), 0 -26.333333333333332px 0 rgba(20, 30, 85, .2), 0 -31.6px 0 rgba(20, 30, 85, .2), 0 -39.5px 0 rgba(20, 30, 85, .2);
    transform: translateZ(0) translateY(-100%)
  }
  33% {
    opacity: 1
  }
  to {
    color: #141e55;
    text-shadow: none;
    transform: translateZ(0) translateY(0)
  }
}

@media screen and (max-width:1279px) {
  .container {
    padding: 0 20px
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 11px 30px;
  z-index: 2;
  background: var(--white);
  box-shadow: 0 0 5px 3px hsla(0, 0%, 85%, .5);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between
}

header img {
  height: 60px;
  cursor: pointer
}

header li {
  float: left;
  margin-left: 20px;
  margin-bottom: 0
}

header .navigation a {
  text-decoration: none;
  position: relative;
  font-size: 18px;
  padding: 33px 3px;
  letter-spacing: .5px;
  font-family: var(--sansRegular)
}

header .navigation a:after {
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--black);
  transition: width .3s ease 0s, left .3s ease 0s;
  width: 0
}

header .navigation a:hover:after {
  width: 100%;
  left: 0
}

.scrollTop {
  position: fixed;
  bottom: 70px;
  right: 20px;
  color: var(--white);
  transition: all .3s ease;
  opacity: .5;
  background: var(--secondary-color);
  padding: 11px 9px;
  cursor: pointer
}

.scrollTop i {
  font-size: 30px
}

.scrollTop:hover {
  bottom: 67px;
  opacity: 1
}

section.about-wrapper {
  margin: 0;
  padding: 0;
}

.banner-wrapper {
  background-image: url(../media/banner.e97429e6.jpg);
  background-size: cover;
  height: 460px;
  width: 100%;
  margin: 0 0 30px
}

.overlay-section {
  background: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center
}

.overlay-container {
  padding-top: 170px
}

.title {
  color: var(--white);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: normal;
  overflow: hidden
}

.overlay-container>p {
  color: var(--white);
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 38px
}

.about-wrapper .user-profile {
  position: relative
}

.about-wrapper .user-profile img {
  height: 50px;
  display: inline-block;
  margin-right: 10px;
  z-index: 1
}

.about-wrapper .user-profile:before {
  position: absolute;
  content: "";
  left: -1px;
  bottom: 2px;
  height: 28px;
  z-index: 0;
  width: 40px;
  border-radius: 50%;
  background: var(--secondary-color)
}

.about-inner-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

.about-inner-right>div {
  width: 50%
}

.project-development-process {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px
}

.project-development-process>div {
  width: 33.33333%;
  padding: 30px 70px;
  transition: all .3s ease
}

.project-development-process>div:hover {
  background: var(--white)
}

.project-development-process h4 {
  font-size: 20px;
  font-family: var(--sansBold);
  margin-bottom: 10px;
  color: var(--custom-blue);
  letter-spacing: .8px
}

h4 i {
  font-size: inherit;
  margin-right: 10px;
  color: var(--secondary-color)
}

.skillset-wrapper h3, .skillset-wrapper p {
  color: var(--primary-color)
}

.skillset-container {
  display: -ms-flexbox;
  display: flex
}

.skillset-container ul {
  width: 20%;
  display: inline-block;
  overflow: hidden;
  margin-right: 20px
}

@media screen and (max-width:768px) {
  .skillset-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .skillset-container ul {
    width: 33.33333%;
    margin: 0 0 20px
  }
}

.projects-wrapper h3 img {
  height: 30px;
  margin-right: 10px
}

.projects-completion-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0 30px
}

.projects-completion-container>div {
  width: 50%
}

.number-field {
  position: relative;
  text-align: center
}

.number-field:not(.animation-started) span {
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0
}

.number-field.animation-started .free-fall-animation {
  overflow: hidden;
  font-size: 100px;
  line-height: normal;
  display: inline-block;
  animation: .3s cubic-bezier(0, 0, .17, 1) 0s normal backwards 1 motion-blur-number;
  color: var(--custom-blue)
}

.number-field.animation-started .free-fall-animation.superscript {
  top: 3px;
  position: absolute;
  display: inline;
  font-size: 30px;
  line-height: 34px
}

.number-field.animation-started span:nth-child(2) {
  animation: .7s cubic-bezier(0, 0, .17, 1) 0s normal backwards 1 motion-blur-number
}

.number-field.animation-started span:nth-child(3) {
  animation: 1s cubic-bezier(0, 0, .17, 1) 0s normal backwards 1 motion-blur-number
}

.projects-title {
  font-family: var(--sansBold);
  margin-bottom: 10px;
  color: var(--custom-blue);
  letter-spacing: .8px
}

.projects-wrapper h2 {
  font-family: var(--sansBold);
  font-size: 30px;
  line-height: normal;
  letter-spacing: .5px
}

.project-type {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 30px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.project-type button {
  text-transform: uppercase;
  font-size: 20px;
  -webkit-appearance: none;
  border: 0;
  background: none;
  font-family: var(--sansBold);
  letter-spacing: .5px;
  padding: 10px 20px;
  color: var(--black);
  cursor: pointer;
  outline: none
}

.project-type button.mixitup-control-active {
  background: var(--primary-color);
  color: var(--white)
}

.portfolio-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.portfolio-list>div {
  width: 30.66667%;
  min-height: 250px;
  background: var(--white);
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px hsla(0, 0%, 85%, .5);
  position: relative;
  overflow: hidden
}

.portfolio-list>div:nth-child(3n) {
  margin-right: 0
}

.tech-stack {
  max-width: 82%;
  font-size: 14px
}

.project-item {
  top: 0;
  transition: all .2s ease-in
}

.project-item:hover {
  top: -5px
}

.project-item a {
  display: block;
  padding: 5% 5% 4%;
  overflow: hidden
}

.project-item.disabled {
  pointer-events: none;
  opacity: .5
}

.project-item img {
  min-height: 200px;
  margin: auto auto 20px;
  display: block;
  max-height: inherit
}

.project-item .valign {
  min-height: 200px;
  max-height: 200px;
  margin-bottom: 20px
}

.project-item .valign img {
  min-height: auto;
  max-width: 100%;
  margin: auto
}

.project-item .project-name {
  font-family: var(--sansBold)
}

.project-item .arrow {
  display: block;
  position: absolute;
  height: 25px;
  width: 25px;
  -webkit-transition-delay: .2s;
  transition: transform .2s ease-out .2s;
  right: 20px;
  bottom: 54px
}

.project-item .arrow:after, .project-item .arrow:before {
  content: " ";
  position: absolute;
  right: 0;
  height: 100%;
  width: 2px;
  background-color: var(--half-white);
  -ms-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  transition: transform .16s ease-out
}

.project-item .arrow:before {
  top: -50%;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.project-item .arrow:after {
  top: calc(-50% + -1px);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg)
}

.project-item a:hover .arrow:before {
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg)
}

.project-item a:hover .arrow:after {
  -ms-transform: rotate(-150deg);
  transform: rotate(-150deg)
}

.released-date {
  display: block;
  background-color: var(--secondary-color);
  padding: 5px 10px;
  color: var(--white);
  text-align: right
}

@media screen and (max-width:768px) {
  .projects-completion-container {
    -ms-flex-direction: column;
    flex-direction: column
  }
  .number-field {
    margin-bottom: 30px
  }
  .portfolio-list>div {
    width: 90%
  }
}

.recoginitions-list {
  padding-left: 25px
}

.recoginitions-list li {
  list-style: disc;
  line-height: 22px;
  margin-bottom: 15px
}

.recoginitions-list li div {
  list-style: circle;
  margin-bottom: 0;
  margin-left: 25px
}

.recoginitions-list li i {
  font-size: 10px;
  margin-right: 10px
}

.education-wrapper {
  margin-bottom: 0
}

footer {
  background: var(--black);
  color: var(--half-white);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 30px;
  -ms-flex-align: center;
  align-items: center
}

footer li {
  float: left;
  margin: 0 0 0 20px
}

footer li i {
  color: var(--half-white);
  font-size: 20px;
  transition: all .3s ease
}

footer li i:hover {
  color: var(--white)
}

@media screen and (max-width:768px) {
  footer {
    -ms-flex-direction: column;
    flex-direction: column
  }
  footer li {
    margin: 20px 0 0 20px
  }
}

/*# sourceMappingURL=main.23795abe.css.map*/