header {
  z-index: 7;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 130px);
  margin: 10px 65px;
}

header .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .logo p {
  font-size: 24px;
  font-family: var(--elegance);
  margin-left: 10px;
}

header .logo span {
  font-size: inherit;
  font-family: var(--elegance);
  opacity: .3;
}

header .logo svg {
  height: 30px;
  margin-right: 5px;
}

.navlines {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 2;
  margin: 15px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  left: 0;
}


.navlines span {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--black);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transition: all .5s ease;
}

.navlines span:first-child {
  top: 0;
}

.navlines span:nth-child(2) {
  top: 10px;
  width: 18px;
}

.navlines span:nth-child(3) {
  top: 20px;
}

.show-subnav .navlines {
  left: -70px;
  pointer-events: none;
}

.show-subnav .navlines span {
  height: 2px;
}

.show-subnav .navlines span:first-child {
  transform: rotate(45deg);
  top: 50%;
  background-color: var(--white);
}

.show-subnav .navlines span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.show-subnav .navlines span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
  background-color: var(--white);
}

.navigation {
  position: fixed;
  height: 100%;
  top: 0;
  left: -100%;
  background: var(--custom-blue);
  opacity: .5;
  width: 200px;
  max-width: 60vw;
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.show-subnav .navigation {
  left: 0;
}

.navigation ul {
  clear: both;
  margin-top: 65px;
}

.navigation li {
  margin: 0;
  float: none;
}

header .navigation a {
  padding: 5px 15px;
  display: block;
  transition: all 0.2s ease 0s;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}

header .navigation a:hover {
  padding: 5px 25px;
  color: var(--white);
}

.theme i {
  font-size: 20px;
  padding: 5px;
  color: var(--primary-color);
  cursor: pointer;
}

.theme i:last-child {
  color: var(--secondary-color);
}

.navigation .global .follow-section {
  left: -200%;
  transition: all 0.7s ease 0s;
  position: relative;
  width: 170px;
  padding: 0;
}

header .navigation .follow-section li {
  opacity: 1;
}

header .navigation .follow-section a {
  padding: 5px;
  color: #fff;
}

.show-subnav .global .follow-section {
  left: 0;
}

header .navigation .scrollTop {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    margin: 10px;
    width: calc(100% - 20px);
  }

  header .logo svg {
    height: 25px;
    margin-right: 0;
  }


  header .logo p {
    font-size: 21px;
  }
}