.experience-list {
  display: flex;
  flex-wrap: wrap;
}

.experience-list li {
  width: 50%;
}

.experience-list a {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  align-items: center;
}

.experience-list a:hover h4 {
  text-decoration: underline;
}

.experience-list li h4 {
  font-size: 18px;
  color: var(--secondary-color);
  font-family: var( --sansRegular); font-weight: 700;
}

.experience-list li p {
  font-family: var(--gothamHTF);
  font-size: 15px;
}

.experience-list li .company-name {
  margin: 5px 0 0;
}

.experience-list .company-logo {
  max-height: 65px;
  margin-right: 20px;
}

.experience-list li {
  opacity: 0;
}

.experience-list li:nth-child(3),
.experience-list li:nth-child(4),
.experience-list li:nth-child(3) a,
.experience-list li:nth-child(4) a {
  margin-bottom: 0px;
}

.start-animation .experience-list li:nth-child(1),
.start-animation .experience-list li:nth-child(3) {
  animation: animateSlideRight 1s .5s;
  transition: opacity .0001s 1.5s;
  opacity: 1;
}

.start-animation .experience-list li:nth-child(2),
.start-animation .experience-list li:nth-child(4) {
  animation: animateSlideLeft 1s .5s;
  transition: opacity .0001s 1.5s;
  opacity: 1;
}

@media screen and (max-width:768px) {
  .experience-list li {
    width: 100%;
  }

  .experience-list li:nth-child(3) {
    margin-bottom: 10px;
  }

  .experience-list li:nth-child(3) a {
    margin-bottom: 30px;
  }
}