@font-face {
  font-family: GothamHTF;
  src: url('./assets/fonts/GothamHTF-Book.woff');
  font-style: normal
}

@font-face {
  font-family: SansBold;
  src: url('./assets/fonts/PTSans-Bold.ttf');
  font-style: normal
}

@font-face {
  font-family: SansRegular;
  src: url('./assets/fonts/PTSans-Regular.ttf');
  font-style: normal
}

@font-face {
  font-family: Elegance;
  src: url('./assets/fonts/Rounded-Elegance.ttf');
  font-style: normal
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #f58200;
  --secondary-color: #2086c6;
  --temp-color: #7510f7;
  --white: #fff;
  --half-white: #777;
  --custom-white: #fafafa;
  --custom-blue: #141e55;
  --black: #333;
  --sansBold: SansBold;
  --sansRegular: SansRegular;
  --gothamHTF: GothamHTF;
  --elegance: Elegance;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--gothamHTF);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

body {
  padding-top: 78px;
}

html.moon-theme {
  filter: invert(1);
}

.theme {
  position: fixed;
  right: 20px;
  top: 2px;
}

.theme i {
  font-size: 20px;
  padding: 5px;
  color: var(--primary-color);
  cursor: pointer;
}

.theme i:last-child {
  color: var(--secondary-color);
}

ul,
li {
  list-style: none;
  overflow: hidden;
}

li {
  line-height: 18px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: baseline;
  color: var(--primary-color);
  margin-bottom: 25px;
  font-family: var(--elegance);
}

h3 i {
  font-size: 30px;
  margin-right: 10px;
}

p,
p * {
  font-size: 17px;
  font-family: var(--sansRegular);
  letter-spacing: .2px;
}

p i {
  font-style: italic;
  font-family: var(--sansBold);
}

b,
strong {
  font-family: var(--sansBold);
}

section {
  padding: 30px 0;
}

.container {
  max-width: 1280px;
  margin: auto;
  clear: both;
  overflow: hidden;
}

section:nth-child(even) {
  background-color: var(--white);
}

section:nth-child(odd) {
  background-color: var(--custom-white);
}

a {
  color: var(--black);
  text-decoration: none;
}

.valign {
  display: flex;
  align-items: center;
}

.page-components {
  z-index: 9;
  margin-bottom: calc(100vh - 78px);
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

@keyframes motion-blur-number {
  0% {
    opacity: 0;
    color: rgba(20, 30, 85, 0.2);
    text-shadow: 0 7.9px 0 rgba(20, 30, 85, 0.2), 0 15.8px 0 rgba(20, 30, 85, 0.2), 0 26.333333333333332px 0 rgba(20, 30, 85, 0.2), 0 31.6px 0 rgba(20, 30, 85, 0.2), 0 39.5px 0 rgba(20, 30, 85, 0.2), 0 -7.9px 0 rgba(20, 30, 85, 0.2), 0 -15.8px 0 rgba(20, 30, 85, 0.2), 0 -26.333333333333332px 0 rgba(20, 30, 85, 0.2), 0 -31.6px 0 rgba(20, 30, 85, 0.2), 0 -39.5px 0 rgba(20, 30, 85, 0.2);
    transform: translateZ(0px) translateY(-100%);
  }

  33% {
    opacity: 1
  }

  100% {
    color: rgba(20, 30, 85, 1);
    text-shadow: none;
    transform: translateZ(0px) translateY(0px);
  }
}

@keyframes animateSlideLeft {
  0% {
    transition-property: opacity, transform;
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }

  100% {
    transition-property: opacity, transform;
    opacity: 1;
    transform: none;
  }
}

@keyframes animateSlideRight {
  0% {
    transition-property: opacity, transform;
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
  }

  100% {
    transition-property: opacity, transform;
    opacity: 1;
    transform: none;
  }
}

@keyframes reverseAnimateSlideLeft {
  0% {
    transition-property: opacity, transform;
    opacity: 0;
    transform: translate3d(-800px, 0, 0);
  }

  100% {
    transition-property: opacity, transform;
    opacity: 1;
    transform: none;
  }
}

@keyframes reverseAnimateSlideRight {
  0% {
    transition-property: opacity, transform;
    opacity: 0;
    transform: translate3d(800px, 0, 0);
  }

  100% {
    transition-property: opacity, transform;
    opacity: 1;
    transform: none;
  }
}

.toggle-view-btns {
  position: absolute;
  right: 70px;
  border: 1px solid var(--black);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  cursor: pointer;
}

.toggle-view-btns span {
  font-size: 20px;
  padding: 5px 10px;
  display: inline-block;
  color: var(--black);
  transition: all .3s ease-in-out;
}

@media screen and (max-width:1279px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width:768px) {
  body {
    padding-top: 64px;
  }

  .page-components {
    margin-bottom: calc(100vh - 65px);
  }

  .theme {
    right: 43px;
    top: 18px;
  }

  h3 {
    font-size: 20px;
  }

  .toggle-view-btns {
    right: 15px;
    margin-top: 5px;
  }

  .toggle-view-btns span {
    font-size: 12px;
    padding: 1px 4px;
  }

}